@font-face {
    font-family: "Lexend";
    src: url(../fonts/Lexend_Deca/LexendDeca-Bold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Space";
    src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
    font-weight: 500;
}
